@font-face {
    font-family: RalewayLight;
    src: url("../fonts/static/Raleway-Light.ttf");
}
@font-face {
    font-family: RalewayBold;
    src: url("../fonts/static/Raleway-Bold.ttf");
}
/*------------------------------- NAV BAR -----------------------------------------*/
.navbar-nav {
    margin-left: auto;
}
/*nav bar green icon*/
.navbar-toggler .navbar-toggler-icon{
    background-image: url("../icons/icons8-menu-480.png");
}
/*nav bar color*/
.navbarStyle{
    background-color: black;
}
.navbar-center li{
    padding-left: 10px;
}
.navbar-nav li a {
    color: white;
}
.navbar-nav li a:hover {
    color: #26e07f;
}
.navbar-brand{
    color: white;
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
    font-family: RalewayBold;
}
.SearchTextField{
    border: white solid 2px;
    border-radius: 50px;
    background-color: transparent;
    width: 300px;
    height: 40px;
    color: white;
    padding: 5px;
}
.SearchTextField:focus{
    border: #26e07f solid 2px;
    outline: none;
}
.SearchButton{
    margin-left: -40px;
    margin-top: 5px;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    background-image: url("../icons/searchW.png");
    background-position: center;
    background-size: 25px 25px;
    padding: 5px;
    background-repeat: no-repeat;
    position: absolute;
}
.SearchButton:hover{
    background-image: url("../icons/search.png");
}
.navImage{
    width: 40px;
    height: 40px;
    border: #26e07f solid 2px;
    cursor: pointer;
    border-radius: 50px;
}
.navbar-right{
    margin-right: 50px;
}
/*----------------------------------------BACKGROUNDS-------------------------------------*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.mainPage{
    margin-top: 72px ;
    padding: 0;
    width: 100%;
}
.coverImage{
    width: 100%;
    background-size: cover;
    height: 300px;
}
.profileImage{
    width: 200px;
    height: 200px;
    border:  #26e07f solid 2px;
    box-shadow: 0 0 20px black;
    border-radius: 30px;
    margin-top: -70px;
    margin-left: 50px;
    position: relative;
    z-index: 3;
}
.profileTaps{
    height: 50vh;
    border-right: 1px solid gray;
    padding-left: 50px;
    padding-top: 50px;
}
.profileContentCol{
    width: 100%;
    height: 100vh;
    margin-top: -130px;
    padding-left: 50px;
    padding-top: 50px;
}
.profileTaps .nav-tabs{
    margin-top: 3%;
    border: none;
    background: transparent;
    width: 280px;
}
.profileTaps .nav-tabs .nav-link{
    height: 50px;
    font-weight: 600;
    color: black;
    border: none;
}
.profileTaps .nav-tabs .nav-link:hover {
    border: none;
}
.profileTaps .nav-tabs .nav-link.active{
    color: #26E07F;
}